# Ignoring the DS_Store files
.DS_Store

# Ignoring the Agent file
Agent

# Ignoring the VSCode build folder
.vscode

# Ignoring this folder that keeps popping on An's Macbook
Design/$Relational Schema Diagram.drawio.bkp

# Ignoring all the binary executable files. 
*.exe
*.dll